@tailwind base;
@tailwind components;
@tailwind utilities;

.react-icons {
  color: white;
  position: absolute;
  top: 20;
  right: 180px;
  font-size: 40px;
  
}

.minav {
  background: black;
  padding: 25px;
  position: sticky;
  top:0;
  z-index: 4;
}

.primary-content{
  color: hsl(var(--pc));
}

.accent-content{
  color:hsl(var(--ac));
}

.img{
  position: absolute;
  left: 10px;
  width: auto;
  height: 90px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35rem;
  width: 18rem;
  padding: 0 1rem;
  border: 2px solid #cccccc;
}

.lista-p {
  display: flex;
  justify-content: space-evenly;
 flex-wrap: wrap;
 }

 .btn{
  border-bottom: #cccccc;
 }
 
 .detail-p{
  
 }

