@tailwind base;
@tailwind components;
@tailwind utilities;

.react-icons {
  color: white;
  position: absolute;
  top: 20;
  right: 180px;
  font-size: 40px;
  
}

.minav {
  background: black;
  padding: 25px;
}

.primary-content{
  color: hsl(var(--pc));
}

.accent-content{
  color:hsl(var(--ac));
}

.img{
  position: absolute;
  left: 10px;
  width: auto;
  height: 90px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 35rem;
  min-height: 35rem;
  padding: 0 1rem;
  border: 2px solid #cccccc;
  box-shadow:
      1px 1px 41px rgba(0, 0, 0, 0.2);
}


