@tailwind base;
@tailwind components;
@tailwind utilities;

.react-icons {
  position: fixed;
  top: 20;
  right: 180px;
  font-size: 40px;
  
}

.minav {
  background: hsla(266, 54%, 46%, 0.459);
}

.letrasnav {
  color: black;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 20px;
}

a img{
  width: auto;
  height: 100px;
}