@tailwind base;
@tailwind components;
@tailwind utilities;

.react-icons {
  color: white;
  position: absolute;
  top: 20;
  right: 180px;
  font-size: 40px;
  
}

.minav {
  background: black;
  padding: 25px;
}

.primary-content{
  color: hsl(var(--pc));
}

.accent-content{
  color:hsl(var(--ac));
}

.img{
  position: absolute;
  left: 10px;
  width: auto;
  height: 90px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 35rem;
  min-height: 35rem;
  padding: 0 1rem;
  border: 2px solid #cccccc;
}

.lista-p {
  display: inline-grid;
  justify-content: space-evenly;
  align-content: stretch;
  align-items: start;
  justify-items: center;
  text-align: center; }


